:root {
    --chattyBackgroundImage: url(https://source.unsplash.com/daily);
    --chattyBorderRadius: 15px;
    --chattyPadding: 10px;
    --chattyBlur: 5px;
    --interactive-muted: #d08770;
    --background-primary: rgba(0, 0, 0, 0.2);
    --background-secondary: rgba(0, 0, 0, 0.3);
    --background-secondary-alt: rgba(0, 0, 0, 0.3);
    --background-tertiary: rgb(35, 39, 42)
}